@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
 }

.App{
  line-height: 2;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y:scroll;
  font-weight: 400;
  color: #333;
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
 }

 @media screen and (max-width: 768px)  {
  .App{
    width: 90%;
   }
}
